<%= form_for(@wine) do |f| %>
	<%= render 'shared/validation_errors', object: @wine %>
	<%= f.label :name %> <%= f.text_field :name, autofocus:true %><br/>
	<%= f.label :year %> <%= f.text_field :year %><br/>
	<%= f.label :winery %> <%= f.text_field :winery %><br/>
	<%= f.label :country %> <%= f.text_field :country %><br/>
	<%= f.label :varietal %> <%= f.select :varietal, Wine::VARIETALS, { prompt: "Pick one" } %><br/>
	<p>
		<%= f.submit %>
		<%= link_to "<button>Cancel</button>".html_safe, wines_path, :id => "button_id", :class => "button_class" %>

	</p>
<% end %>